.diva {
    background-color: #FFC0CB; 
    width: 500px;
    height: 500px;
}

.divb {
    background-color: #FF69B4; 
    height: 50%;
    width: 50%;
}

.paragrafo {
    color: white;
    background-color: #FF1493; 
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.divd {
    width: 50%;
    height: 50vh;
    background-color: #FFB6C1; 
}

.dive {
    width: 75vw;
    height: 50%;
    background-color: #FF7373; 
}
